<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>youtube-dl</title>
</head>

<body>
    <div class="ui inverted menu">
        <a href="/" class="item"><i class="home icon"></i>Dashboard</a>
        <a href="/restart-youtube-dl" class="item"><i class="sync alternate icon"></i>Restart youtube-dl</a>
        <div class="ui simple dropdown item">Edit<i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/edit/args">Args</a>
                <a class="item" href="/edit/archive">Archive</a>
                <a class="item" href="/edit/channels">Channels</a>
            </div>
        </div>
        <form class="item" method="post" action="/download"  style="flex-grow:1;">
            <div class="ui action input">
                <input type="text" name="url" placeholder="URL">
                <button class="ui teal right labeled icon button">
                    <i class="download icon"></i>
                    Download
                </button>
            </div>
        </form>
        <div class="right menu">
            <a href="https://github.com/Jeeaaasus/youtube-dl" class=" item"><i
                    class="github icon"></i>Jeeaaasus</a>
            <a href="https://hub.docker.com/r/jeeaaasustest/youtube-dl/" class=" item"><i
                    class="docker icon"></i>youtube-dl</a>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>