name: Release Checker

on:
  schedule:
    - cron: '9 0 * * *'

jobs:
  Release-Checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.REPO_SCOPED_TOKEN }}

      - name: Fetch latest release version
        run: curl -s https://api.github.com/repos/ytdl-org/youtube-dl/releases/latest | jq -r ".tag_name" > release-versions/latest.txt

      - name: Check for modified files
        id: git-check
        run: echo ::set-output name=modified::$([ -z "`git status --porcelain`" ] && echo "false" || echo "true")

      - name: Commit latest release version
        if: steps.git-check.outputs.modified == 'true'
        run: |
          git config --global user.name 'Release Checker'
          git commit -am "New release version"
          git push
